html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
 }

body{
    background-color: #efeae4;
}


/* HEADER */
 .navbar{
    min-height: 12vmin !important;
}  
.navbar-collapse{
    justify-content: space-between;
}
.bg-light {
    background-color: #efeae4 !important;
}

p{
    color: #efeae4;
    font-size: 3vmin;
    margin: 5px 10px;
}
nav a{
    text-decoration: none;
    align-self: center;
    font-size: 2.5vmin;
}
.active{
    color: #408a9b !important;
    text-decoration: underline;
}

.logo{
    align-self: flex-start;
    margin: 0 1rem;
    width: 11vmin;
   
}

/* HERO */


video{
    width: 100%;
    height: 95vh;
    object-fit: cover;
    z-index: -1;
    position: absolute; 
    left: 0px; 
    top: 0px;
}
.titulo{
    margin: 7%;
    display:flex;
    align-self: center;
    align-items: center;
    color:#efeae4;
   
}
h1{
    font-size: 14vmin;
}

.tinerary{
    font-size: 12vmin; 
}
.contenedor_llamada_a_la_accion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:3vmin; 
    
}
.contenedor_llamada_a_la_accion>p{
    font-family: 'Nixie One', cursive;
    font-size: 4.5vmin;
}

.contenedor_llamada_a_la_accion button a{
    font-family: 'Cinzel', serif;
    text-decoration: none;
    color: #efeae4;
}

.contenedor_llamada_a_la_accion button{
    margin: 3vmin;
    width: 22%;
    background: rgba(255, 255, 255, 0.262); 
    padding: 1vmin;
    font-size: 4vmin;
    border-radius: 25px;
    border: none;
    background-color:#628f9b;
    background-image: -webkit-linear-gradient(top, #100f0f7c, #2f7e94a7);
    background-image: -moz-linear-gradient(top, #100f0f7c, #2f7e94a7);
    background-image: -ms-linear-gradient(top, #100f0f7c, #2f7e94a7);
    background-image: -o-linear-gradient(top, #100f0f7c, #2f7e94a7);
    background-image: linear-gradient(to bottom, #100f0f7c, #2f7e94a7); 
}
.contenedor_llamada_a_la_accion button:hover {
    background-color: #8181f59e;

  }


.contenedor-hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: 100;
}
.typewriter h4 {
    text-align: center;
    font-family: 'Nixie One', cursive;
    font-size: 4vmin;
    color: #efeae4;
}

/* MAIN */


main{
    display: flex;
    flex-direction: column;
}

.container p{
    color: #486972;
    font-family: 'Nixie One', cursive;
}

.container h3{
    text-align: center;
    font-size: 6vmin;
    background: #efeae4;
    background: linear-gradient(85deg,#486972, #abe1fa);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.contenedor-titulo-carousel{
    margin-top:7vmin;
    align-self:center;
    background: #efeae4;
    background: linear-gradient(85deg,#cfe5f4,#efeae4);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: content-box;
    min-width: 49%;
    border-radius: 30px;
}
.titulo-carousel, .titulo-cities{
    text-align: center;
    font-size: 8vmin;
    background: #efeae4;
    background: linear-gradient(85deg,#486972, #abe1fa);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
.titulo-cities{
    font-size: 5vmin;
}
.contenedor-buscador-cities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vmin;
    display: grid;
}

.carousel-control-next, .carousel-control-next, .carousel-control-prev, .carousel-control-prev {
    color: #0c0b09 !important;
    
}


.contenedor-carrousel{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   gap: 1rem; 
    padding: 2rem 4rem;
    padding-bottom:15vmin; 
    background-color: #efeae4;
    
}


.foto-cities{
    display: flex;
    justify-content: center;
}
.foto-cities h3{
    align-self: flex-end;
    color: #efeae4;
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: rgba(58, 56, 56, 0.358);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size:3vmin;
    text-shadow: 1px 1px 2px black;
}

#foto_carrousel{
    min-width: 500px;
    min-height:250px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-radius: 10px;
}

.texto-carousel{
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.358);
    color: #efeae4;
    font: bold;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size:3vmin;
    text-shadow: 1px 1px 2px black;
}
.texto-carousel{
    transition: .5s;
}

.texto-carousel:hover{
    font-size:4vmin;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.064);   
}
/* MAIN CITIES */
.contenedor-cities a{
text-decoration: none;
}
.contenedor-buscador-cities{
    margin-top: 2rem;
    padding: 1rem;
}
.contenedor-buscador-cities h2{
    font-size: 7vmin;
}

input{
    padding:0.5rem;
    border:1px solid #66a6c9;
    border-radius: 5px;
    text-align: center;
}

.contenedor-cities{
    padding: 2rem 5rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2,1fr);  
                                            
}

.contenedor-cities a:nth-child(3n-2){
    grid-column: 1 / span 3;
} 
.contenedor-cities a:nth-child(3n-1){
    grid-column: 1 / span 1 ;
} 
.contenedor-cities a:nth-child(3n){
    grid-column: 2 / span 2;
} 



.foto-cities {
    border-radius:10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
} 
.foto-cities h3 {
    font-size: 5vmin;
}



.foto-city0{
    background-position: 0% 70%;
}

/* FOOTER */


footer{
    width: 100%;
    height: 30vh;
    background-size: cover;
    background-position: 40% 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer h4{
    width: 100%;
    font-size: 3.3vmin;
    text-align: center;
    color: rgb(232, 253, 255);
    margin-bottom: 2vmin;
    text-shadow: 1px 1px 1px rgba(28, 27, 27, 0.66);
    font-family: 'Cinzel', serif;
}

.contenedor-footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.contenedor-iconos{
    width: 25%;
    height: 50%;
    /* background-color: #f08a0e; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.iconos{
    color: #efeae4;
    width: 5vmin;
    height: 4vmin;
}

.nav-footer{
    display: flex;
    min-width: 35%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Cinzel', serif;
}

.nav-footer a{
    text-decoration: none;
    font-family: 'Cinzel', serif;
}
.pagina_no_encontrada{
    width: 50vw;
    height: 100vh;
    background-size: cover;
}
.contenedor-hero-ciudad{
    width: 100vw;
    height: 50vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and  (min-width:1200px){
   
    .contenedor-slogan {
    
        display: flex;
        justify-content: center;
        
      }
      
      /* DEMO-SPECIFIC STYLES */
      .typewriter h4 {
        font-family: 'Nixie One', cursive;
        font-size: 4vmin;
        color: #efeae4;
        color: #efeae4;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em solid rgb(252, 251, 247); /* The typwriter cursor */
        white-space: nowrap;  /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        /*letter-spacing: .02em; /* Adjust as needed */
        animation: 
          typing 4s steps(30, end),
          blink-caret .5s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: rgb(254, 253, 253) }
      }
      #foto_carrousel{
        min-width: 500px;
        min-height:250px;
      }
}
@media screen and  (min-width:1650px){
    #foto_carrousel{
        min-width: 700px;
        min-height: 400px;
      }
}
@media screen and  (max-width:600px){
   
    footer{
        height: 20vh;
    }
    #foto_carrousel{
        min-width: 400px;
        min-height: 250px;
      }
}
@media screen and  (max-width:450px){
    #foto_carrousel{
        min-width: 250px;
        min-height: 150px;
      }
      #foto_carrousel h3{
          font-size: 1rem;
      }
      .container p{
          font-size: 1rem;
      }


}
@media only screen and (max-width:700px){
    .contenedor-cities{
        display: grid;
        grid-template-columns: 1fr;

    }
    .contenedor-cities a:nth-child(3n-2){
        grid-column: 1;
       
    }
    .contenedor-cities a:nth-child(3n-1){
        grid-column: 1;
    } 
    .contenedor-cities a:nth-child(3n){
        grid-column: 1;
    } 
    .contenedor-cities{
        padding: 2rem
                                                
    }
}
/* .foto-cities h3{
    align-self: flex-end;
    color: #efeae4;
    width: 100%;
    height: 15%;
    text-align: center;
    background-color: rgba(58, 56, 56, 0.358);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size:4vmin;
    text-shadow: 1px 1px 2px black;
}
.foto-cities h3{
    transition: .5s;
}

.foto-cities h3:hover{
    font-size:4vmin;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.064);   
} */
.foto-cities h3{
    transition: .5s;
}

.foto-cities h3:hover{
    font-size:4vmin;
    height: 100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.064);   
}